<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            height: 10000px;
        }
    </style>
</head>
<body>
<script>
    var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
    window.onload = window.onscroll = function () {
        var scrollTop1 = document.documentElement.scrollTop || document.body.scrollTop;
        console.log('scrollTop：'+scrollTop, 'scrollTop1：'+scrollTop1)
        if (scrollTop1 - scrollTop > 10) {
            console.log('向下');
            scrollTop = scrollTop1;
        }else if(scrollTop1 - scrollTop < -10){
            console.log('向上');
            scrollTop = scrollTop1;
        }


    }
</script>
</body>
</html>