<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div class="a">bbbbbb</div>
<div class="cli"></div>

<!--<img src="/Dom/img/liveing.gif" alt="">-->
<script>
    document.querySelector('.a').onclick = function () {
        alert();
    };
    var ele = document.createElement('div');
    ele.innerHTML = 'bbbbbb';
    document.querySelector('.cli').innerHTML = '<button class="a">aaaa</button>';
</script>
</body>
</html>