<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<form action="">

    <input type="checkbox" value="1" name="11" checked>
    <input type="checkbox" value="2" name="11">
</form>
<script src="/Dom/js/jquery-1.11.3.js"></script>

<!--<img src="/Dom/img/liveing.gif" alt="">-->
<script>



    $('form input').each(function (i, ele) {
        if(ele.checked){
            var value = $(ele).val();
            // todo:放到你的json中去
        }
    })
</script>
</body>
</html>