<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/Dom/css/bootstrap.min.css"/>
</head>
<body>
<div ng-controller="myCtr" >

    <!--<nav class="navbar navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-21">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--&lt;!&ndash;<a class="navbar-brand" href="#">Brand</a>&ndash;&gt;-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="navbar-collapse-21">-->
            <!--<ul class="nav navbar-nav">-->
                <!--&lt;!&ndash;<li ng-init="type='log'"></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-class="{active:type==='log'}"><a href="#" ng-click="type='log"></a>日志</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-class="{active:type==='favor'}"><a href="#" ng-click="type='favor">收藏</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
    <div>
        <span></span>
        <input type="text" ng-model="schema.des"/>
    </div>

</div>
<script src="/Dom/js/jquery-1.11.3.js"></script>
<script src="/Dom/js/bootstrap.min.js"></script>
<script src="/Dom/js/angular.min.js"></script>
<script>
    angular.module('app', [])
            .controller('myCtr', function ($scope, $q) {
                var RouteParam = function(name, loadjs) {
                    var baseURL = '/views/default/pl/fe/site/setting/';
                    this.templateUrl = baseURL + name + '.html?_=' + (new Date() * 1);
                    this.controller = 'ctrl' + name[0].toUpperCase() + name.substr(1);
                    if (loadjs) {
                        this.resolve = {
                            load: function($q) {
                                var defer = $q.defer();
                                require([baseURL + name + '.js'], function() {
                                    defer.resolve();
                                });
                                return defer.promise;
                            }
                        };
                    }
                };
                var obj = new RouteParam('abc', true);

                console.log(obj);
                console.log(obj.templateUrl);
                $scope.matter = {
                    matterState: true,
                    open: function(){
                        /*如果为真,可以发送请求,然后修改为false(做到不可访问);否则直接退出return*/
                        var _this = this;
                        _this.matterState?_this.matterState = false: return;
                        if(_this.matterState){
                            _this.matterState = false;
                        }else{
                            return;
                        }
                        /*成功后，修改为真；失败后也修改为真...*/
                        $http.get('').
                                success(function(rsp){
                                    _this.matterState = true;
                                /*待做的事情...*/
                                }).error(function(err){_this.matterState = true;});
                    }
                }
            })

</script>
</body>
</html>