<div wrap="text" class="form-group">请填写信息</div>
<!-- begin: generate by schema -->


<!-- end: generate by schema -->
<div id="btnSubmit" class="form-group" wrap="button">
    <button class="btn btn-primary btn-block btn-lg" ng-click="submit($event,'result')"><span>提交信息</span></button>
</div>
<div wrap="input" class="form-group form-group-lg" schema="s1491458123766" schema-type="multiple"><label>登记项1</label>
    <ul>
        <li class="checkbox" wrap="checkbox" required=""><label><input type="checkbox" name="s1491458123766"
                                                                       ng-model="data.s1491458123766.v1"><span>选项1{{data.s1491458123766.v1}}</span></label>
        </li>
        <li class="checkbox" wrap="checkbox" required=""><label><input type="checkbox" name="s1491458123766"
                                                                       ng-model="data.s1491458123766.v2"><span>选项2</span></label>
        </li>
        <li class="checkbox" wrap="checkbox" required=""><label><input type="checkbox" name="s1491458123766"
                                                                       ng-model="data.s1491458123766.v3"><span>选项3</span></label>
        </li>
    </ul>
</div>