/*??????*/
#dad {
    height: 3em;
    background: green;
    display: flex;
    /*??????*/
    /*justify-content: center;/!*??????*!/*/
    /*justify-content: flex-start;/!*?????*!/*/
    /*justify-content: flex-end;/!*?????*!/*/
    justify-content: space-around; /*?????? ???λ?ú????λ???? ????????*/
    /*justify-content: space-between;/!*?????? ???λ?ú????λ??  ??????*!/*/
    /*???????*/
    align-items: center; /*????*/
    align-items: flex-start; /*?????*/
    align-items: flex-end; /*?????*/
    align-items: baseline; /*??????????????????У????????У?????*/
    align-items: stretch; /*?????????????????????????????????*/
}

#dad > div {
    background: blue;
}

#dad :nth-child(3) {
    margin-top: 1em;
}

#dad :nth-child(3) {
    margin-top: 2em;
}

/*?????-*/
#dadVer2 {
    background: green;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*??????????*/
    flex-direction: row; /*?????? ?????*/
    /*flex-direction: row-reverse; /!*??????*!/*/
    /*flex-direction: column; /!*???????*!/*/
    /*flex-direction: column-reverse; /!*???????*!/*/
}

#dadVer2 > div {
    background: blue;
}

#dadVer2 :nth-child(1) {
    flex: 1;/*??????????????????*/
    /*??????????????????????*/
    align-self: center; /*????*/
    /*align-self: flex-start; /!*?????*!/*/
    /*align-self: flex-end; /!*?????*!/*/
    /*align-self: baseline; /!*??????????????????У????????У?????*!/*/
    /*align-self: stretch; /!*?????????????????????????????????*!/*/
}

#dadVer2 :nth-child(2) {
    flex: 2;/*??????????????????*/
}

#dadVer2 :nth-child(3) {
    flex: 3;/*??????????????????*/
}

/*?????*/
#dadVer3 {
    /*background: green;*/
    /*height: 5em;*/
    width: 900px;
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    flex-wrap:wrap;
}

#dadVer3 > div {
    /*background: blue;*/
    width: 300px;
    border-right: 1px solid #ddd;
    text-align: center;
}
#dadVer3 :nth-child(1) {
    /*flex: 1;/!*??????????????????*!/*/
}
#dadVer3 :nth-child(2) {
    /*flex: 2;/!*??????????????????*!/*/
}

#dadVer3 :nth-child(3) {
    /*flex: 7;/!*??????????????????*!/*/
}

