/*基础版*/
#dad {
    height: 3em;
    background: green;
    display: flex;
    /*水平对齐*/
    /*justify-content: center;/!*水平居中*!/*/
    /*justify-content: flex-start;/!*左对齐*!/*/
    /*justify-content: flex-end;/!*右对齐*!/*/
    justify-content: space-around; /*均匀分布 起始位置和结束位置各占 间隔的一半*/
    /*justify-content: space-between;/!*均匀分布 起始位置和技术位置  不占空间*!/*/
    /*垂直对齐*/
    align-items: center; /*居中*/
    align-items: flex-start; /*上对齐*/
    align-items: flex-end; /*下对齐*/
    align-items: baseline; /*基线对齐：与子元素的第一行（最靠下的一行）对齐*/
    align-items: stretch; /*子容器沿交叉轴方向的尺寸拉伸至与父容器一致*/
}

#dad > div {
    background: blue;
}

#dad :nth-child(3) {
    margin-top: 1em;
}

#dad :nth-child(3) {
    margin-top: 2em;
}

/*拓展版-*/
#dadVer2 {
    background: green;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*设置主轴方向*/
    flex-direction: row; /*水平向右 标准模式*/
    /*flex-direction: row-reverse; /!*水平向左*!/*/
    /*flex-direction: column; /!*垂直向下*!/*/
    /*flex-direction: column-reverse; /!*垂直向上*!/*/
}

#dadVer2 > div {
    background: blue;
}

#dadVer2 :nth-child(1) {
    flex: 1;/*设置子容器伸缩比例*/
    /*单独设置子容器垂直对齐方式*/
    align-self: center; /*居中*/
    /*align-self: flex-start; /!*上对齐*!/*/
    /*align-self: flex-end; /!*下对齐*!/*/
    /*align-self: baseline; /!*基线对齐：与子元素的第一行（最靠下的一行）对齐*!/*/
    /*align-self: stretch; /!*子容器沿交叉轴方向的尺寸拉伸至与父容器一致*!/*/
}

#dadVer2 :nth-child(2) {
    flex: 2;/*设置子容器伸缩比例*/
}

#dadVer2 :nth-child(3) {
    flex: 3;/*设置子容器伸缩比例*/
}

/*高级版*/
#dadVer3 {
    /*background: green;*/
    /*height: 5em;*/
    width: 900px;
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    flex-wrap:wrap;
}

#dadVer3 > div {
    /*background: blue;*/
    width: 300px;
    border-right: 1px solid #ddd;
    text-align: center;
}
#dadVer3 :nth-child(1) {
    /*flex: 1;/!*设置子容器伸缩比例*!/*/
}
#dadVer3 :nth-child(2) {
    /*flex: 2;/!*设置子容器伸缩比例*!/*/
}

#dadVer3 :nth-child(3) {
    /*flex: 7;/!*设置子容器伸缩比例*!/*/
}

