<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/Dom/css/bootstrap.min.css"/>
    <style>
        .ng-cloak{display:none;}
    </style>
</head>
<body>
<div ng-controller="myCtr" class="container">
    <br/><br/>
    <span class="ng-cloak">{{test}}</span>
    <span >{{test}}</span>
</div>
<script src="/Dom/js/jquery-1.11.3.js"></script>
<script src="/Dom/js/bootstrap.min.js"></script>
<script src="/Dom/js/angular.js"></script>
<script>
    angular.module('app', [])
            .controller('myCtr', function ($scope) {
                $scope.test1 = 3;
                $scope.test = 4;
            })
</script>
</body>
</html>