<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/untitled1/css/bootstrap.min.css"/>
</head>
<body><br/><br/>
<div ng-controller="myCtr" class="container">
    <div ng-repeat="a in arr" ng-switch on="a">
        <div>
            <span ng-switch-when="1">1</span>
            <span ng-switch-when="2">2</span>
            <span ng-switch-when="3">3</span>
            <span ng-switch-when="4">4</span>
        </div>
    </div>
</div>
<script src="/untitled1/js/jquery-1.11.3.js"></script>
<script src="/untitled1/js/bootstrap.min.js"></script>
<script src="/untitled1/js/angular.min.js"></script>
<script>
    angular.module('app', [])
            .controller('myCtr', function ($scope) {
                $scope.arr = [1,2,3,4];

            })
</script>
</body>
</html>